button{
    text-align: center;
    align-items: center;
    justify-content: center;
}
h4{
    text-align: center;
    margin-top: 5px;
    font-family: 'Harry Potter', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(0, 0, 0);
    letter-spacing: 3px;
}

.interior{
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(#303030, 0.1), 0 4px 4px 0 rgba(#303030, 0.1);
    padding: 10px;
    font: 20px 'Cinzel Decorative';
   

}
li{
    display: inline-block;
    padding: 10px;
    align-items: center;
    text-align: center;
}
.buho{
    height: 50px;
}